
@import url('https://rsms.me/inter/inter.css');

:root {
    --header-background: #f8f5f2;
    --header-text: #232323;
    --content-background: #fffffe;
    --content-text: #222525;
    --content-text-link: #078080;
    --content-social: #232323;
    --content-social-over: #078080;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Inter', sans-serif;
    font-feature-settings: "liga","tnum","case","calt","ss01","locl";
}

body {
    line-height: 1.5em;
    font-size: 16px;
    background: var(--content-background);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 0 5px 0;
    background: var(--header-background);
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 768px;
    max-width: 100%;
    font-size: 0.9rem;
}

.header a {
    color: var(--header-text);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.header a:hover,
.header a:focus {
    
    text-decoration: underline;
    color: var(--header-text);
}

.footer {
    position: fixed;
    right: 10px;
    bottom: 0;

    text-align: right;
    font-size: 0.5rem;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

.content {
    margin: 0px auto;
    padding-bottom: 1em;
    padding-top: 1em;

    width: 768px;

    color: var(--content-text);

    text-align: justify;
}

.content a {
    text-decoration: none;
    color: var(--content-text-link);
}
.content a:hover,
.content a:focus {
    text-decoration: underline;
    color: var(--content-text-link);
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em 0;
}

h2 {
    font-size: 1rem;
    text-align: left;
    margin: 1em 0 1em 0;
}

.social-links {
    text-align: center;
    padding-top: 2em;
}

.social-links a {
    margin: 5px;
    color: var(--content-social);
}
.social-links a:hover,
.social-links a:focus {
    text-decoration: none;
    color: var(--content-social-over);
}

@media (max-width: 48em) {

  .content {
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
  }

}
