{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <ul class="social-links">
    <li><a target="_blank" href="mailto:lomig.megard+contact@gmail.com" alt="Email address" title="Email address">
      <i class="fa fa-envelope fa-fw fa-2x"></i>
    </a></li>
    <li><a target="_blank" href="https://stackoverflow.com/users/1409677/lomig-megard" alt="StackOverflow profile" title="StackOverflow profile">
      <i class="fa fa-stack-overflow fa-fw fa-2x"></i>
    </a></li>
    <li><a target="_blank" href="https://github.com/lomigmegard" alt="Github profile" title="Github profile">
      <i class="fa fa-github-alt fa-fw fa-2x"></i>
    </a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/lomigmegard" alt="LinkedIn profile" title="LinkedIn profile">
      <i class="fa fa-linkedin fa-fw fa-2x"></i>
    </a></li>
    <li><a target="_blank" href="https://twitter.com/lomigmegard" alt="Twitter profile" title="Twitter profile">
      <i class="fa fa-twitter fa-fw fa-2x"></i>
    </a></li>
  </ul>

{{ partial "footer.html" . }}
