{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <div class="social-links">
    <a href="mailto:lomig.megard+contact@gmail.com" target="_blank" rel="noopener" title="Email address">
      {{ partial "svg.html" "email" }}
    </a>
    <a href="https://keybase.io/lomig" target="_blank" rel="noopener" title="Keybase profile">
      {{ partial "svg.html" "keybase" }}
    </a>
    <a href="https://github.com/lomigmegard" target="_blank" rel="noopener" title="Github profile">
      {{ partial "svg.html" "github" }}
    </a>
    <a href="https://www.linkedin.com/in/lomigmegard" target="_blank" rel="noopener" title="LinkedIn profile">
      {{ partial "svg.html" "linkedin" }}
    </a>
    <a href="https://twitter.com/lomigmegard" target="_blank" rel="noopener" title="Twitter profile">
      {{ partial "svg.html" "twitter" }}
    </a>
  </div>

{{ partial "footer.html" . }}
