<h2 class="content-head is-center">Lomig Mégard</h2>

<div class="rapier"></div>

<p>
  I obtained my CS Master degree from <a target="_blank" href="http://www.epfl.ch/" alt="EPFL website">EPFL</a> in 2014.
  I did a specialization in <a target="_blank" href="http://ic.epfl.ch/specializations" alt="Specializations at EPFL">Foundation of Software</a> with Prof. Odersky and my master thesis was performed in the field of Programming by Example under the direction of <a target="_blank" href="http://lara.epfl.ch" alt="LARA lab" title="Lab for Automated Reasoning and Analysis">Prof. Kuncak</a>.
</p>

<p>
  I then moved to London during one year where I worked as a Big Data Engineer for <a target="_blank" href="http://www.adbrain.com/" alt="Adbrain" title="Adbrain">Adbrain</a>.
  Currently established in Lausanne's area, and after an experience working for the <a target="_blank" href="https://www.humanbrainproject.eu/" alt="Human Brain Project" title="Human Brain Project">Human Brain Project</a>, I am starting a new role as a Scala Engineer at <a target="_blank" href="https://www.cisco.com/" alt="Cisco" title="Cisco">Cisco</a>.
</p>

<p>
  After being focused on the theory of CS and languages during my studies, I am now also interested in distributed systems and Big Data technologies.
  I like the functional paradigm, using for example <a target="_blank" href="http://scala-lang.org/" alt="Scala website">Scala</a>, <a target="_blank" href="http://akka.io/" alt="Akka website">Akka</a> or <a target="_blank" href="https://spark.apache.org/" alt="Spark website">Spark</a>.
  To manage my projects, sbt and git are my preferred choices.
</p>

<ul class="social-links">
  <li><a target="_blank" href="mailto:contact-lomig@megard.ch" alt="Email address" title="Email address">
    <i class="fa fa-envelope fa-fw fa-2x"></i>
  </a></li>
  <li><a target="_blank" href="https://stackoverflow.com/users/1409677/lomig-megard" alt="StackOverflow profile" title="StackOverflow profile">
    <i class="fa fa-stack-overflow fa-fw fa-2x"></i>
  </a></li>
  <li><a target="_blank" href="https://github.com/lomigmegard" alt="Github profile" title="Github profile">
    <i class="fa fa-github-alt fa-fw fa-2x"></i>
  </a></li>
  <li><a target="_blank" href="https://www.linkedin.com/in/lomigmegard" alt="LinkedIn profile" title="LinkedIn profile">
    <i class="fa fa-linkedin fa-fw fa-2x"></i>
  </a></li>
  <li><a target="_blank" href="https://twitter.com/lomigmegard" alt="Twitter profile" title="Twitter profile">
    <i class="fa fa-twitter fa-fw fa-2x"></i>
  </a></li>
</ul>
