<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <ul>
            <li ng-class="{ 'pure-menu-selected': $state.is('home') }"><a ui-sref="home">Home</a></li>
            <li ng-class="{ 'pure-menu-selected': $state.is('work') }"><a ui-sref="work">Work</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content" ui-view></div>

    <div class="footer">
        © Lomig Mégard 2014 -
        Background by <a target="_blank" href="http://www.designova.net/" alt="designova">Designova</a> © <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/" alt="CC BY-SA 3.0 license">BY-SA 3.0</a>.
    </div>

</div>
