<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <!--<a class="pure-menu-heading" href="">Lomig Mégard</a> -->

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Lomig Mégard</h2>

        <div class="rapier"></div>

        <p>
          Young software engineer graduated from <a target="_blank" href="http://www.epfl.ch/" alt="EPFL website">EPFL</a> in Swizerland.

        </p>

        <p>
          Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis.
        </p>

        <ul class="social-links">
          <li><a target="_blank" href="mailto:contact-lomig@megard.ch" alt="Email address" title="Email address">
            <i class="fa fa-envelope fa-fw fa-2x"></i>
          </a></li>
          <li><a target="_blank" href="https://stackoverflow.com/users/1409677/lomig-megard" alt="StackOverflow profile" title="StackOverflow profile">
            <i class="fa fa-stack-overflow fa-fw fa-2x"></i>
          </a></li>
          <li><a target="_blank" href="https://github.com/tarfaa" alt="Github profile" title="Github profile">
            <!-- <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </span> -->

            <i class="fa fa-github-alt fa-fw fa-2x"></i>
          </a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/lomigmegard" alt="LinkedIn profile" title="LinkedIn profile">
            <i class="fa fa-linkedin fa-fw fa-2x"></i>
          </a></li>
          <li><a target="_blank" href="https://twitter.com/tarfaa3" alt="Twitter profile" title="Twitter profile">
            <i class="fa fa-twitter fa-fw fa-2x"></i>
          </a></li>
        </ul>
    </div>

    <div class="footer">
        CC <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/" alt="CC BY-SA 3.0 license">BY-SA 3.0</a> - © Lomig Mégard 2014 - 
        Background by <a target="_blank" href="http://www.designova.net/" alt="designova">Designova</a>.
    </div>

</div>
