<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
       <ul class="pure-menu-list">
            <li class="pure-menu-item" ng-class="{ 'pure-menu-selected': $state.is('home') }"><a class="pure-menu-link" ui-sref="home">Home</a></li>
            <li class="pure-menu-item" ng-class="{ 'pure-menu-selected': $state.is('work') }"><a class="pure-menu-link" ui-sref="work">Work</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content" ui-view></div>

    <div class="footer">
        © Lomig Mégard 2015 -
        Background by <a target="_blank" href="http://www.designova.net/" alt="designova">Designova</a> © <a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/" alt="CC BY-SA 4.0 license">BY-SA 4.0</a>.
    </div>

</div>
